/* ----------------------------------------------------------
typography
---------------------------------------------------------- */
body {
	font: normal #{$font-size}/#{$line-height} $font-stack;
	font-size: em(16px); // function defined in functions.scss
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {

}